{% extends "reporteria/base.html" %}
{% load static %}

{% block titulo %} Mi Dashboard {% endblock %}

{% block styleStatic %}
<link rel="stylesheet" href="{% static 'css/styleDashboard.css'%}">
{% endblock %}

{% block classBody %}
{% endblock %}

{% block classDiv %}

{% endblock %}


{% block contenido %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="section container" style="margin: 30px auto">
    <input type="hidden" id="ipt-ids-reportes" value="{{ids_reportes}}">
    {% for reporte in reportes %}
    <div class="card cardChart" style="width: 18rem; padding: 10px;">
        <canvas id="myChart-{{reporte.id}}" width="400" height="400"></canvas>
        <div class="card-body">
            <h5 class="card-title">{{ reporte.razon }}</h5>
            <p class="card-text">Fecha de los datos: {{ reporte.fecha_json }}</p>
        </div>
    </div>
    {% if ids_reportes|last == reporte.id %}
    <script src="{% static 'js/jsDashBoard.js'%}"></script>
    {% endif %}
    {% empty %}
    <p>No hay reportes.</p>
    {% endfor %}
</div>
{% endblock %}

{% block hideFooter%}
{% endblock %}