{% extends "reporteria/base.html" %}
{% load static %}

{% block titulo %} Iniciar Sesión {% endblock %}

{% block statics %}
<link rel="stylesheet" href="{% static 'css/styleLogin.css'%}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="{% static 'js/jsLogin.js'%}"></script>
{% endblock %}

{% block classBody %}
{% endblock %}

{% block classDiv %}
class="d-flex align-items-center py-4 fondoLogin"
{% endblock %}

{% block hideNavbar%}
style="display: None;"
{% endblock %}

{% block contenido %}
    <form onSubmit="return submitLog()" method="POST">
        {% csrf_token %}
        <div class="inFormR rounded-4">
            <img class="position-absolute top-0 start-50 translate-middle-x" src="../../static/img/logo/logo_reporteria.png" style="left: 25%" alt="" width="72" height="72">
            <h1 class="h3 mb-3 fw-normal text-light" style="padding:0px 20px;">Inicio Sesión Reporteria</h1>
            <ul class="bg-danger rounded-2 text-light">
                <li id="e-username" style="display: none;">Usuario fuera del rango de 5 a 150 letras.</li>
                <li id="e-password" style="display: none;">Contraseña fuera del rango de 6 a 150 letras.</li>
                {% if e_login %}
                <li id="e-no-existe">El usuario '{{e_login}}' no existe.</li>
                {% endif %}
            </ul>
            <div class="form-floating">
                <input type="text" name="ususarioLog" class="form-control" id="floatingInput" placeholder="">
                <label for="floatingInput">Usuario</label>
            </div>
            <div class="form-floating">
                <input type="password" name="contrasenaLog" class="form-control" id="floatingPassword" placeholder="">
                <label for="floatingPassword">Contraseña</label>
                <span class="toggle-password" onclick="verPassword()">
                    <i id="eye-icon" class="fa fa-eye"></i>
                </span>
            </div><br>
            <button class="btn btn-primary w-100 py-2" id="btnSubmit" type="submit">Iniciar Sesión</button>
        </div>
    </form>
{% endblock %}

{% block hideFooter%}
style="display: None;"
{% endblock %}