.fondoLogin{
    justify-content: center;
    transform: translateY(50%);
}
.inFormR{
    background-color: #393E46;
    padding: 60px 19px;
    border: 2px solid #EEEEEE;
}

input{
    margin: 8px 0px;
}